<!DOCTYPE html>
<html lang="en" ng-app="notewithme">
  <head>
    <title>notewithme</title>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script><!-- only modal.js needed -->
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/fabric/dist/fabric.js"></script>
    <script src="javascripts/application.js"></script>
    <script src="javascripts/utils.js"></script>
    <script src="javascripts/maincontroller.js"></script>
    <script src="javascripts/roomcontroller.js"></script>
    <script src="javascripts/socketioservice.js"></script>
    <script src="javascripts/fabricservice.js"></script>
    <script src="javascripts/userservice.js"></script>
    <script src="javascripts/canvasservice.js"></script>
    <script src="javascripts/buttonsradio.js"></script>
    <script src="javascripts/modal.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>