<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-12">
            <div class="page-header">
                <h1>notewithme.com
                    <small></small>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Start</h1>
                    <p class="text-center">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#startModal">
                            Give it a try
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Share</h1>
                    <p class="text-center"><a class="btn btn-primary btn-lg" href="#/" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Collaborate</h1>

                    <p class="text-center"><a class="btn btn-primary btn-lg" href="#/" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet enim augue, tincidunt
                    placerat ligula efficitur quis. Nulla mattis urna mi, vitae sagittis elit venenatis sed. Vestibulum
                    nec magna nec nunc ornare tincidunt ut id turpis. Phasellus a nulla nisl. Phasellus mi ante, ornare
                    id elit nec, malesuada imperdiet ipsum. Curabitur ut aliquam urna. Duis vestibulum mollis cursus.
                    Donec commodo et metus id faucibus. Nam nec elit eu turpis scelerisque lacinia.
                </p>
                <p>
                    Fusce aliquet, dolor et tincidunt aliquet, est ante euismod justo, at convallis tellus elit vitae
                    urna. Nam quis dolor viverra, interdum justo nec, maximus odio. Nullam consequat accumsan velit,
                    pharetra consectetur libero egestas non. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Nullam porttitor maximus elit eu mattis. Aenean vel lectus mi. Ut eget orci quam. Donec
                    iaculis scelerisque metus luctus blandit. Ut tempor et lectus sit amet dapibus. Praesent euismod
                    sodales turpis et tristique. Vivamus lobortis felis a elit tempor pretium.
                </p>
            </div>
        </div>
    </div>
</div>
<div  class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Just enter your name and room - you're free to start collaborating.</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Name" ng-model="user.name">
                            <input type="text" class="form-control" placeholder="Room name" ng-model="user.room">
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="start(user)">Start</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
