#mainCanvas {
  position: absolute;
}

.btn {margin-right: 2px;}

.alert {
    padding:10px;
    margin-bottom: 0px;
}

.startModal a{
    text-decoration: none;
    color: #000000;
    cursor:pointer;
}

.normal p{
    font-size: medium;
    font-weight: normal;
}