#mainCanvas {
  position: absolute;
}

.btn {margin-right: 2px;}

.alert {
    padding:10px;
    margin-bottom: 0px;
}

.startModal a{
    text-decoration: none;
    color: #000000;
    cursor:pointer;
}

.normal p{
    font-size: medium;
    font-weight: normal;
}

.normal h4{
    font-size: x-large;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 140%;
    letter-spacing: 0.0250em;
    text-align: justify;
}