
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">FAQ</h3>
    </div>
    <div class="panel-body">
        <div ng-repeat="entry in entries">
            <div ng-repeat="faqentry in entry.fields.faqentries">
                <div class="row">
                    <div class="col-md-12 normal">
                        <h4>{{faqentry.fields.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 normal" marked="faqentry.fields.content"></div>
                </div>
                <rowhr></rowhr>
            </div>
        </div>
        <div class="row readmore">
           <div class="col-md-12"><a href="/faq">Read More</a></div>
        </div>
    </div>
</div>