<button type='button' class='btn glyphicon glyphicon-question-sign' ng-click='help()' data-toggle="modal" data-target="#helpModal">
</button>

<div  class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row"  ng-repeat="tool in canvasTools">
                            <div class="col-md-2">
                                <span class="glyphicon {{tool.glyphiconicon}}" aria-hidden="true" title="None" ></span>
                            </div>
                            <div class="col-md-3">
                                <span>{{tool.name}}</span>
                            </div>
                            <div class="col-md-7">
                                <span>{{tool.help}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span>jpg</span>
                            </div>
                            <div class="col-md-3">
                                <span>Download</span>
                            </div>
                            <div class="col-md-7">
                                <span>Export canvas as jpg</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-floppy-save"></span>
                            </div>
                            <div class="col-md-3">
                                <span>Save</span>
                            </div>
                            <div class="col-md-7">
                                <span>Save canvas to server. Canvas is fetched automatically when returning to URL</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </div>
                            <div class="col-md-3">
                                <span>Help</span>
                            </div>
                            <div class="col-md-7">
                                <span>This dialog</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span>Del</span>
                            </div>
                            <div class="col-md-3">
                                <span>Delete</span>
                            </div>
                            <div class="col-md-7">
                                <span>Delete key from keyboard removes object</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                All elements in the canvas can be:
                                <ul>
                                    <li>Moved</li>
                                    <li>Scaled / Stretched</li>
                                    <li>Rotated</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Notewithme.com supports pasting images from clipboard. You need to take screenshot to your clipboard before you can paste it:
                                </p>
                                <ul>
                                    <li>Windows: <em>alt + print screen, ctrl + print screen</em></li>
                                    <li>OS X: <em>command + control +  shift +3</em></li>
                                    <li>OS X: <em>command + control +  shift +4</em></li>
                                </ul>
                                <p>After that, just hit paste:</em></p>
                                <ul>
                                    <li>Windows: <em>control + v</em></li>
                                    <li>OS X: <em>command + v</em></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="start" class="btn btn-primary"  data-dismiss="modal">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>
