<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-md-12">
            <div class="page-header">
                <h1>notewithme.io<small></small></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Start</h1>

                    <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Go a Head!</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Share</h1>

                    <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="text-center">Collaborate</h1>

                    <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
